<!-- hub.sazi.life/components/header.html -->

<header>
    <a href="index.html" class="logo-container">
        <div class="logo">Safety<span class="help">Help</span></div>
    </a>
    <nav>
        <a href="index.html" class="active-nav-link"><i class="fas fa-home nav-icon"></i>Home</a>
        <a href="#"><i class="fas fa-book nav-icon"></i>Resources</a>
        <a href="#"><i class="fas fa-concierge-bell nav-icon"></i>Services</a>
        <a href="#"><i class="fas fa-users nav-icon"></i>Community</a>
        <a href="#"><i class="fas fa-info-circle nav-icon"></i>About</a>
        <a href="#"><i class="fas fa-envelope nav-icon"></i>Contact</a>
        <a href="#"><i class="fas fa-sign-in-alt nav-icon"></i>SignUp / Login</a>
    </nav>
    <div class="search-language">
        <input type="text" placeholder="Search...">
        <div id="google_translate_element"></div>
        <a href="#" class="login-button">Login</a>
    </div>
</header>