<!-- hub.sazi.life/components/sidebar-tools.html -->
<aside class="sidebar-tools">
    <h3 class="sidebar-heading"><i class="fas fa-tools heading-icon"></i>SafetyHelp Tools</h3>
    <div class="sidebar-list-container">
        <ul id="safetyhelp-tools-list">
            <li><a href="#"><i class="fas fa-shield-alt list-icon"></i>OHS System</a></li>
            <li><a href="#"><i class="fas fa-hard-hat list-icon"></i>Construction</a></li>
            <li><a href="#"><i class="fas fa-exclamation-triangle list-icon"></i>Risk Assessment</a></li>
            <li><a href="#"><i class="fas fa-medkit list-icon"></i>Incident Management</a></li>
            <li><a href="#"><i class="fas fa-clipboard-check list-icon"></i>Inspections & Audits</a></li>
            <li><a href="#"><i class="fas fa-gavel list-icon"></i>Legal Appointments</a></li>
            <li><a href="#"><i class="fas fa-graduation-cap list-icon"></i>Training</a></li>
            <li><a href="#"><i class="fas fa-utensils list-icon"></i>Food Safety</a></li>
            <li><a href="#"><i class="fas fa-file-alt list-icon"></i>Forms & Documents</a></li>
            <li><a href="#"><i class="fas fa-hands-helping list-icon"></i>LegalHelp</a></li>
            <li><a href="#"><i class="fas fa-truck list-icon"></i>Suppliers</a></li>
        </ul>
    </div>
</aside>
